.sync/
.sync/**
SEPTEMBER_2014/.ipynb_checkpoints
Data_Averages.xlsx
SpindleZooColumnKey.txt
ZOODATA_140916.xlsx
ZOODATA_140923.xlsx
.SyncID
.SyncArchive
.SyncIgnore
.DS_Store
AUGUST_2014/spindlezoo_data617.xlsx
AUGUST_2014/spindlezoo_template.xlsx
AUGUST_2014/mod_Radar_plot_matplotlib.py
AUGUST_2014/lda.pdf
AUGUST_2014/UC\ Berkeley\ Mail\ -\ Spindle\ zoo\ early\ days.pdf
AUGUST_2014/Spindle\ Zoo_column\ key.docx
AUGUST_2014/Meiotic_comparativedata.xlsx
AUGUST_2014/.DS_Store
AUGUST_2014/Marina_data_analysis.pages
AUGUST_2014/Radar_Star_Plot_explore.R
140924_keynote/**
**.csv
python-recsys
SEPTEMBER_2014/.RData
SEPTEMBER_2014/.Rhistory
**.pages
SEPTEMBER_2014/Rplot_colors.pdf
Manuscript/**
**.xlsx

!/.gitignore
Crawley_statistics.pdf
R/**
